<mat-card>
  <mat-card-content>
    <mat-toolbar color="primary">Detalhe do curso</mat-toolbar>
    <form [formGroup]="form" class="min-width">
      <mat-form-field class="full-width" style="margin-top: 10px">
        <mat-label>Nome</mat-label>
        <input #name formControlName="name" matInput maxlength="100">
        <mat-hint align="end">{{name.value.length}}/100</mat-hint>
        <mat-error *ngIf="form.get('name')?.invalid">{{getErrorMessage('name')}}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="category">
          <mat-option></mat-option>
          <mat-option value="Front-end">Front-End</mat-option>
          <mat-option value="Back-end">Back-End</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('category')?.invalid">{{getErrorMessage('category')}}</mat-error>
      </mat-form-field>

      <mat-toolbar>
        <span>Aulas</span>
        <button (click)="addNewLesson()" color="accent" mat-icon-button>
          <mat-icon aria-label="Adicionar uma nova aula">add</mat-icon>
        </button>
      </mat-toolbar>

      <table *ngFor="let lesson of getLessonsFormArray(); let i = index"
             aria-hidden="true"
             formArrayName="lessons" style="width: 100%">
        <tr [formGroupName]="i">
          <td style="width: 65%">
            <mat-form-field class="full-width">
              <mat-label>Título da aula</mat-label>
              <input formControlName="name" matInput maxlength="100">
            </mat-form-field>
          </td>
          <td style="width: 35%">
            <mat-form-field class="full-width">
              <mat-label>URL</mat-label>
              <span matTextPrefix>https://youtube.be/</span>
              <input formControlName="youtubeUrl" matInput maxlength="100">
            </mat-form-field>
          </td>
          <td>
            <button (click)="removeLesson(i)" color="warn" mat-icon-button>
              <mat-icon aria-label="Remover aula">delete</mat-icon>
            </button>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
  <mat-card-actions class="action-center">
    <button (click)="onSubmit()" [disabled]="form.invalid" color="primary" mat-raised-button
            style="margin-right: 10px;">
      Salvar
    </button>
    <button (click)="onCancel()" mat-raised-button>Cancelar</button>
  </mat-card-actions>
</mat-card>
