mat-card {
  max-width: 80%;
  margin: 2rem auto;
}

.full-width {
  width: 100%;
}

.min-width {
  width: 100%;
  min-width: 150px;
}

.btn-space {
  margin-right: 5px;
}

.action-center {
  justify-content: center;
}
